<section id="contact" class="py-5 footer-contact-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h3 class="mb-3">{{ .Site.Params.contact.title | default "Contato" }}</h3>
        <div class="footer-contact-content text-secondary mb-4">{{ .Site.Params.contact.content | markdownify }}</div>
        <a class="btn px-4" href="{{ .Site.Params.contact.btnLink }}">{{ .Site.Params.contact.btnName | default "Entrar em contato" }}</a>
      </div>
    </div>
  </div>
</section>
